<div class="container-fluid text-center" ng-init="vm.initMap()">

  <div class="jumbotron ng-jumbotron">
    <div ng-if="vm.authorized">
      <h1>Welcome! {{vm.user}}</h1>
      <h3>Choose a place to get started!</h3>
    </div>
    <div ng-if="!vm.authorized">
      <h1>Please Login to continue</h1>
    </div>
    <div id="g-map"></div>

    <button class="btn btn-default ng-btn" ng-click="vm.getData()">Get Location Data</button>
    <button class="btn btn-default ng-btn" ng-click="vm.getUserImages()">Get My Data</button>

  </div>


  <div class="instafeed" ng-init="vm.getUserImages()">
    <div class="images" ng-repeat="item in vm.images | limitTo: vm.limit">
      <img ng-src="{{item.images.standard_resolution.url}}" alt="{{item.images.standard_resolution.url}}" class="thumbnail col-md-2"/>
    </div>
    <div class="col-md-2 thumbnail loadmore" ng-if="vm.limit<20">
      <a ng-click="vm.limit=20">
        <span class="loadmore-caption">Load More</span>
        <img class="loadmore-img" ng-src="{{vm.decoy.images.standard_resolution.url}}" alt="{{vm.decoy.images.standard_resolution.url}}" class="thumbnail col-md-2"/>
      </a>
    </div>
  </div>

</div>
