.ng-jumbotron {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  .ng-btn {
    @include btn-styles($brand-color);
    color: #fff;
    text-transform: uppercase;
    text-shadow: none;
    border: none;
  }
}

.loadmore {
  a {
      cursor: pointer;
  }
  .loadmore-img {
    opacity: 0.5;

    &:hover,
    &:focus {
      opacity: 0.8;
    }

  }
  .loadmore-caption {
    opacity: 1;
    color: #282828;
    position: absolute;
    left: 0;
    bottom: 45%;
    text-align: center;
    width: 100%;
    font-size: 3rem;
  }

}
